name: wellness_app
description: Wellness App - Striving Healthy Living. Track your weight loss journey, monitor calorie intake, and log fitness activities with our comprehensive health companion.
publish_to: 'none'

version: 1.1.0+2

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  shared_preferences: ^2.2.2
  intl: ^0.20.2
  uuid: ^4.0.0
  fl_chart: ^1.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/foods.json

